<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" data-layout-decorator="/shared/layout">
<head>
    <title>编辑活动</title>
    <script th:src="@{/plugins/ckeditor/ckeditor.js}" type="text/javascript"></script>
    <style>
        .upload-btn {
            display: flex;
        }

        .upload-btn .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;

        }

        .upload-btn .btns .tips {
            margin-left: 15px;
        }

        .upload-btn .btns .layui-btn {
            height: 30px;
            line-height: 30px;
            width: 80px;
            text-align: center;
            padding: 0;
        }

    </style>
</head>
<body>
<div class="form-body" data-layout-fragment="renderBody">
    <form id="editForm" th:method="post" class="layui-form  layui-form-pane" th:action="@{/busRealEstate/submit}">
        <input type="hidden" name="id" th:value="${model.id}"/>
        <div class="layui-form-item">
            <div class="layui-col-xs12">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="name" th:value="${model.name}" lay-verify="required" placeholder="请输入标题"
                           autocomplete="off" class="layui-input required">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-xs3">
                <label class="layui-form-label">项目经理</label>
                <div class="layui-input-block">
                    <select name="managerId" lay-verify="required" id="manager_id">
                        <option th:each="item:${managerList}" th:text="${item.userName}"
                                th:selected="${item.id == model.managerId}"
                                th:value="${item.id}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-col-xs3">
                <label class="layui-form-label">区域</label>
                <div class="layui-input-block">
                    <select name="extend2" lay-verify="required" id="extend2">
                        <option th:each="item:${categories}" th:text="${item.name}"
                                th:selected="${item.id.toString() == model.extend2}"
                                th:value="${item.id}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-col-xs3">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input type="number" name="sortWeight" th:value="${model.sortWeight}" lay-verify="required"
                           placeholder="请输入排序"
                           autocomplete="off" class="layui-input required">
                </div>
            </div>
            <div class="layui-col-xs6">
                <input type="checkbox" name="needFullPhone" title="需要完整号码" lay-skin="primary"
                       th:checked="${model.extend1 == '1'}">
                <input type="checkbox" name="isTopRecommend" title="置顶推荐" lay-skin="primary"
                       th:checked="${model.isTopRecommend}">
                <input type="checkbox" name="isListRecommend" title="精品推荐" lay-skin="primary"
                       th:checked="${model.isListRecommend}">
            </div>
            <!--<div class="layui-col-xs4">-->
            <!--<label class="layui-form-label">排序</label>-->
            <!--<div class="layui-input-block">-->
            <!--<input type="text" name="address" th:value="${model.address}" lay-verify="required" placeholder="请输入地址"-->
            <!--autocomplete="off" class="layui-input required">-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" th:value="${model.address}" lay-verify="required" placeholder="请输入地址"
                       autocomplete="off" class="layui-input required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">佣金</label>
            <div class="layui-input-block">
                <input type="text" name="commission" th:value="${model.commission}" lay-verify="required"
                       placeholder="比例 + 金额"
                       autocomplete="off" class="layui-input required">
            </div>
        </div>
        <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">缩略图</label>-->
        <!--<div class="layui-input-block">-->
        <!--<div class="image-item">-->
        <!--<img src="" alt="" style="width: 100px;height: 60px;">-->
        <!--</div>-->
        <!--<div class="upload-btn">-->
        <!--<div class="btns">-->
        <!--<span class="layui-btn">上传图片</span>-->
        <!--<span class="layui-btn layui-btn-primary">删除</span>-->
        <!--<span class="tips">建议尺寸260*180</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item">
            <div class="layui-col-xs6">
                <label class="layui-form-label">缩略图</label>
                <div class="layui-input-block upload-thumbnail">
                    <button type="button" class="layui-btn layui-btn-danger" id="uploadImage">
                        <i class="layui-icon"></i>上传图片
                    </button>
                    <div class="delete-cover">
                        <img id="img" th:class="${model.thumbnail!=''&&model.thumbnail!=null?'':'hidden'}"
                             th:src="${model.thumbnail}"/>
                        <input type="hidden" id="imageUrl" name="thumbnail" th:value="${model.thumbnail}"/>
                        <div id="deleteImageBtn"
                             th:class="'icon-cover '+${model.thumbnail!=''&&model.thumbnail!=null?'':'hidden'}">
                    <span th:title="删除缩列图" onclick="deleteImage();" class="cover-center fa fa-trash"
                          style=""></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <label class="layui-form-label">推荐图</label>
                <div class="layui-input-block upload-thumbnail">
                    <button type="button" class="layui-btn layui-btn-danger" id="uploadRecommendImage">
                        <i class="layui-icon"></i>上传图片
                    </button>
                    <div class="delete-cover">
                        <img id="imgRecommend"
                             th:class="${model.topRecommendImage!=''&&model.topRecommendImage!=null?'':'hidden'}"
                             th:src="${model.topRecommendImage}"/>
                        <input type="hidden" id="topRecommendImage" name="topRecommendImage"
                               th:value="${model.topRecommendImage}"/>
                        <div id="deleteRecommendImageBtn"
                             th:class="'icon-cover '+${model.topRecommendImage!=''&&model.topRecommendImage!=null?'':'hidden'}">
                            <span th:title="删除推荐图" onclick="deleteRecommendImage();" class="cover-center fa fa-trash"
                                  style=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">滚动图片</label>
            <div class="layui-input-block upload-thumbnail">
                <button type="button" class="layui-btn layui-btn-danger" id="uploadImages">
                    <i class="layui-icon"></i>上传图片
                </button>

                <div id="imageUrls" class="images">
                    <div class="delete-cover" th:each="item:${model.images}">
                        <img id="imgs" th:class="${item!=''&&item!=null?'':'hidden'}"
                             th:src="${item}"/>
                        <input type="hidden" name="images" th:value="${item}"/>
                        <div id="deleteImageBtns"
                             th:class="'icon-cover '+${item!=''&&item!=null?'':'hidden'}">
                            <span th:title="删除" onclick="deleteImages(this);" class="cover-center fa fa-trash"
                                  style=""></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">简介</label>
            <div class="layui-input-block">
                <textarea name="summery" placeholder="" class="layui-textarea" th:text="${model.summery}"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">详情</label>
            <div class="layui-input-block">
                <textarea type="text" id="detail" name="detail" placeholder="请输入详情" autocomplete="off"
                          class="layui-textarea required" th:text="${model.detail}"></textarea>
            </div>
        </div>
        <!--<div class="layui-form-item" style="position: absolute;top: 70px;right: 15px;">-->
        <!--<div class="delete-cover" style="margin-bottom: 5px;width: 100px;height: 100px;border: 1px solid #c8c8c8;">-->
        <!--<img id="img" th:class="${model.imageUrl!=''&&model.imageUrl!=null?'':'hidden'}"-->
        <!--th:src="${model.imageUrl}" th:width="100" th:height="100"/>-->
        <!--<input type="hidden" id="imageUrl" name="imageUrl" th:value="${model.imageUrl}"/>-->
        <!--<span id="deleteImageBtn" style="width: 102px;height: 102px;"-->
        <!--th:class="'icon-cover '+${model.imageUrl!=''&&model.imageUrl!=null?'':'hidden'}">-->
        <!--<span th:title="删除缩列图" onclick="deleteImage();" class="cover-center fa fa-trash"-->
        <!--style="top:40px"></span>-->
        <!--</span>-->
        <!--</div>-->
        <!--<button type="button" class="layui-btn layui-btn-danger" id="uploadImage" style="width: 100px;padding: 0;">-->
        <!--<i class="layui-icon"></i>缩列图-->
        <!--</button>-->

        <!--</div>-->
        <div class="layui-form-item form-footer">
            <button class="layui-btn" lay-submit lay-filter="formedit" id="btnSubmit" type="submit">保存</button>
            <span class="layui-btn layui-btn-primary pull-right margin-left-15" onclick="dialog.close();">关闭</span>
        </div>

    </form>
</div>
<script th:inline="javascript" data-layout-fragment="renderScripts">
    layui.use(['layer', 'laydate', 'upload'], function () {
        //设定文件大小限制
        layui.upload.render({
            elem: '#uploadImage'
            , url: '/upload'
            , size: 20000 //限制文件大小，单位 KB
            , data: {
                "width": 260,
                "height": 160
            }
            , done: function (res) {
                if (res.state) {
                    dialog.msg(res.message);
                    $("#img").attr('src', res.model);
                    $("#img").removeClass('hidden');
                    $('#deleteImageBtn').removeClass('hidden');
                    $("#imageUrl").val(res.model);
                }
                else {
                    dialog.msg(res.message);
                }
            }
        });

        layui.upload.render({
            elem: '#uploadRecommendImage'
            , url: '/upload'
            , size: 20000 //限制文件大小，单位 KB
            , done: function (res) {
                if (res.state) {
                    dialog.msg(res.message);
                    $("#imgRecommend").attr('src', res.model);
                    $("#imgRecommend").removeClass('hidden');
                    $('#deleteRecommendImageBtn').removeClass('hidden');
                    $("#topRecommendImage").val(res.model);
                }
                else {
                    dialog.msg(res.message);
                }
            }
        });

        layui.upload.render({
            elem: '#uploadImages'
            , url: '/upload'
            , multiple: true
            , size: 20000 //限制文件大小，单位 KB
            , done: function (res) {
                if (res.state) {
                    console.log(res);
                    var html = '  <div class="delete-cover" >\n' +
                        '           <img src="' + res.model + '"/>\n' +
                        '           <input type="hidden" name="images" value="' + res.model + '"/>\n' +
                        '           <div class="icon-cover">\n' +
                        '              <span title="删除" onclick="deleteImages(this);" class="cover-center fa fa-trash"></span>\n' +
                        '           </div>\n' +
                        '       </div>';
                    $('#imageUrls').append(html);
                } else {
                    dialog.msg(res.message);
                }
            }
        });
    });


    CKEDITOR.replace('detail');

    $("#editForm").initForm({
        ajaxBefore: function () {
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
            if ($.trim(CKEDITOR.instances.detail.getData()) === '') {
                dialog.msg("活动内容不能为空");
                return false;
            } else {
                return true;
            }
        }
    });

    function deleteImage() {
        $("#img").attr('src', "");
        $("#img").addClass('hidden');
        $('#deleteImageBtn').addClass('hidden');
        $("#imageUrl").val("");
    }

    function deleteRecommendImage() {
        $("#imgRecommend").attr('src', "");
        $("#imgRecommend").addClass('hidden');
        $('#deleteRecommendImageBtn').addClass('hidden');
        $("#imageRecommendUrl").val("");
    }

    function deleteImages(obj) {
        $(obj).closest('.delete-cover').remove();
    }
</script>
</body>
</html>