<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" data-layout-decorator="/shared/layout">
<body>
<div class="form-body" data-layout-fragment="renderBody">
    <form id="form" th:method="post" class="layui-form  layui-form-pane" th:action="@{/busRealEstate/noticeSubmit}">
        <input type="hidden" name="id" th:value="${model.id}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">通知楼盘</label>
            <div class="layui-input-block">
                <span class="layui-input" style="padding-top: 7px;" th:text="${model.getName()}"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通知类型</label>
            <div class="layui-input-block">
                <select name="type" class="required">
                    <option value="">无</option>
                    <option value="4">签约楼盘</option>
                    <option value="5">政策变更</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text" th:each="item:${busAgentCompanies}">
            <label class="layui-form-label" th:text="${item.getName()}"></label>
            <div class="layui-col-xs3" th:each="user:${item.getBusUsers()}">
                <input type="checkbox" name="userIds" th:value="${user.getId()}"
                       th:title="${user.getUserName() + '('+user.getPhoneNum()+')'}"
                       lay-skin="primary">
            </div>
        </div>

        <div class="layui-form-item form-footer">
            <button class="layui-btn" lay-submit lay-filter="formedit" id="btnSubmit" type="submit">保存</button>
            <span class="layui-btn layui-btn-primary pull-right margin-left-15" onclick="dialog.close();">关闭</span>
        </div>

    </form>
</div>
<script th:inline="javascript" data-layout-fragment="renderScripts">
    //表单验证提交
    $('#form').initForm({
        ajaxBefore: function () {
            dialog.loading("#form", {
                text: '正在发送通知，请稍等...'
            });

        },
        ajaxSuccessHandler: function (data) {
            debugger
            if (data.state) {
                dialog.success(data.message);
                dialog.closeAll(true);
            }
            else {
                dialog.error(data.message);
            }
        }
    });

</script>
</body>
</html>