<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" data-layout-decorator="/shared/layout">

<head>
    <title>来访登记列表</title>
    <style>
        .layui-table td, .layui-table th {
            font-size: 12px;
        }
        .select-short{
            width: 100px;
        }
    </style>
</head>

<div class="padding" data-layout-fragment="renderBody">
    <blockquote class="layui-elem-quote">
        <form id="searchForm" class="layui-form">
            <div class="layui-inline hidden">
                <label>名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="keyword" name="keyword" placeholder="请输入关键词" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label>登记时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input date-range" name="time" id="time" lay-verify="timeRange"
                           placeholder="请选择时间段" value=""/>
                </div>
            </div>
            <div class="layui-inline">
                <label>所属团队</label>
                <div class="layui-input-inline select-short">
                    <select name="team">
                        <option value="">全部</option>
                        <option value="代理">代理</option>
                        <option value="自销">自销</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label>意向等级</label>
                <div class="layui-input-inline select-short">
                    <select name="level">
                        <option value="">全部</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label>购买意向</label>
                <div class="layui-input-inline select-short">
                    <select name="intention">
                        <option value="">全部</option>
                        <option value="已认购">已认购</option>
                        <option value="未认购">未认购</option>
                        <option value="已小定">已小定</option>
                        <option value="已验资/定存">已验资/定存</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label>报备人属性</label>
                <div class="layui-input-inline select-short">
                    <select name="property">
                        <option value="">全部</option>
                        <option value="个人经纪人">个人经纪人</option>
                        <option value="中介">中介</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label>到访次数</label>
                <div class="layui-input-inline select-short">
                    <select name="times">
                        <option value="">全部</option>
                        <option value="首访">首访</option>
                        <option value="二访">二访</option>
                        <option value="三访">三访</option>
                        <option value="多次到访">多次到访</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <span class="layui-btn" onclick="btn_Search()"><i class="fa fa-search"></i> 检索</span>
            </div>
            <div class="layui-inline">
                <span class="layui-btn layui-btn-normal" onclick="btn_Export()"><i
                        class="fa fa-file-excel-o"></i> 导出</span>
            </div>
        </form>
    </blockquote>

    <div class="table-wrapper" id="list">
        <table class="layui-table">
            <thead>
            <tr>
                <th style="font-weight: bold;text-align:center;">序号</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">楼盘名称</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">客户姓名</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">联系方式</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">所属团队</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">置业顾问</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">居住区域</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">职业</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">到访次数</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">购买用途</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">付款方式</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">意向产品</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">意向面积</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">意向等级</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">购买意向</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">未成交原因</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">报备人属性</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">报备人姓名</th>
                <th class="text-center" style="font-weight: bold;text-align:center;min-width: 120px">来访日期</th>
                <th class="text-center" style="font-weight: bold;text-align:center;min-width: 120px">登记日期</th>
                <th class="text-center" style="font-weight: bold;text-align:center;">备注</th>


                <!--                <th class="text-center" style="text-align:center">操作</th>-->
            </tr>
            </thead>
            <tbody style="display:none" data-bind="visible: true">
            <!-- ko foreach: Items() -->
            <tr class="CurrentRow">
                <td class="text-center" data-bind="text:$index()+1"></td>
                <td class="text-center" data-bind="text:realEstateName"></td>
                <td class="text-center" data-bind="text:customer"></td>
                <td class="text-center" data-bind="text:phone"></td>
                <td class="text-center" data-bind="text:team"></td>
                <td class="text-center" data-bind="text:adviser"></td>
                <td class="text-center" data-bind="text:address"></td>
                <td class="text-center" data-bind="text:occupation"></td>
                <td class="text-center" data-bind="text:times"></td>
                <td class="text-center" data-bind="text:purpose"></td>
                <td class="text-center" data-bind="text:payment"></td>
                <td class="text-center" data-bind="text:productType"></td>
                <td class="text-center" data-bind="text:area"></td>
                <td class="text-center" data-bind="text:level"></td>
                <td class="text-center" data-bind="text:intention"></td>
                <td class="text-center" data-bind="text:nodeal"></td>
                <td class="text-center" data-bind="text:property"></td>
                <td class="text-center" data-bind="text:reporter"></td>
                <td class="text-center" data-bind="text:visittime"></td>
                <td class="text-center" data-bind="text:createtime"></td>
                <td class="text-center" data-bind="text:remark"></td>
                <!--                <td class="text-center">-->
                <!--                    <a data-bind="click:btn_edit.bind()" title="编辑" data-toggle="tooltip" data-placement="top">-->
                <!--                        <i class="fa fa-edit"></i></a>-->
                <!--                </td>-->
            </tr>
            <!-- /ko -->
            </tbody>
        </table>

        <ko-pager-state params="model: $data"></ko-pager-state>
        <ko-pager params="model: $data"></ko-pager>
    </div>
</div>
<script data-layout-fragment="renderScripts">

    var viewModel = new PagerModel("/busVisitRegister/getList", $('#searchForm').serialize());
    $(function () {
        ko.applyBindings(viewModel, $("#list")[0]);
    });

    function btn_Search() {
        viewModel.Reload($('#searchForm').serialize());
    }

    //导出
    function btn_Export() {
        dialog.confirm('确认导出当前查询的结果数据吗？', function () {
            dialog.closeAll();
            dialog.success('导出成功,文件下载中...');
            location.href = '/busVisitRegister/export?' + $('#searchForm').serialize();
        });
    }
</script>

</html>