<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" data-layout-decorator="/shared/layout">
<head>
    <title>修改密码</title>
</head>

<div class="padding" data-layout-fragment="renderBody">
    <form id="editForm" class="layui-form form-body layui-form-pane" action="/user/changePassword" method="post">
        <input type="hidden" name="_f_token" th:value="${_f_token}" />
        <div class="dialog-body">
            <input type="hidden" id="id" th:value="${user.id}">
            <div class="layui-form-item">
                <label class="layui-form-label">原密码</label>
                <div class="layui-input-inline">
                    <input class="layui-input required" id="psd" name="psd" type="password" rangelength="6,20">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input class="layui-input required" id="NewPassword" name="newPassword" rangelength="6,20"
                           type="password">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input class="layui-input required" equalTo="#NewPassword" id="NewPasswordConfirm" name="newPasswordConfirm" rangelength="6,20"
                           type="password">
                </div>
            </div>
            <div class="layui-form-item form-footer">
                <button type="submit" class="layui-btn" id="btnSubmit">保存</button>
                <span class="layui-btn layui-btn-primary margin-left-15" onclick="dialog.close();">关闭</span>
            </div>
        </div>

    </form>
</div>

<script th:inline="javascript" data-layout-fragment="renderScripts">
    $('#editForm').initForm({
        ajaxSuccessHandler: function (data) {
            if (data.state) {
                dialog.msg(data.message, {icon: 1});
                setTimeout(function () {
                    parent.dialog.alert('修改密码需要重新登录系统，请重新登录后再使用系统。', function (index) {
                        $.getJSON('/logout', function (result) {
                            if (result.state) {
                                parent.dialog.success(result.message);
                                parent.location.href = '/login';
                            } else {
                                parent.dialog.error(result.message);
                            }

                        });
                    });
                }, 1000);

            } else {
                dialog.msg(data.message, {icon: 5});
            }
        }
    });
</script>
</html>