<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.system.dao.SysDepartmentDao">

    <!--实体映射-->
    <resultMap id="base_result_map" type="SysDepartment">
        <id column="id" property="id"/>
        <result column="dcode" property="dcode"/>
        <result column="dname" property="dname"/>
        <result column="parentcode" property="parentcode"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
        <result column="createtime" property="createtime"/>
        <result column="dnameother" property="dnameother"/>
        <result column="displayorder" property="displayorder"/>
        <result column="createrid" property="createrid"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="base_column_list">
		 id,dcode,dname,parentcode,longitude,latitude,state,remark,createtime,dnameother,displayorder,createrid
	</sql>

    <sql id="base_condition_filed">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="dcode != null and dcode!=''">
            and dcode = #{dcode}
        </if>
        <if test="dname != null and dname!=''">
            and dname = #{dname}
        </if>
        <if test="parentcode != null and parentcode!=''">
            and parentcode = #{parentcode}
        </if>
        <if test="longitude != null">
            and longitude = #{longitude}
        </if>
        <if test="latitude != null">
            and latitude = #{latitude}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
        <if test="remark != null and remark!=''">
            and remark = #{remark}
        </if>
        <if test="createtime != null">
            and createtime = #{createtime}
        </if>
        <if test="createrid != null">
            and createrid = #{createrid}
        </if>
        <if test="dnameother != null and dnameother!=''">
            and dnameother = #{dnameother}
        </if>
        <if test="displayorder != null">
            and displayorder = #{displayorder}
        </if>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <trim prefixOverrides="and">
                <include refid="base_condition_filed"/>
                <if test="dcodeFuzzy!= null  and dcodeFuzzy!=''">
                    and dcode like concat('%', #{dcodeFuzzy}, '%')
                </if>
                <if test="dnameFuzzy!= null  and dnameFuzzy!=''">
                    and dname like concat('%', #{dnameFuzzy}, '%')
                </if>
                <if test="parentcodeFuzzy!= null  and parentcodeFuzzy!=''">
                    and parentcode like concat('%', #{parentcodeFuzzy}, '%')
                </if>
                <if test="remarkFuzzy!= null  and remarkFuzzy!=''">
                    and remark like concat('%', #{remarkFuzzy}, '%')
                </if>
                <if test="dnameotherFuzzy!= null  and dnameotherFuzzy!=''">
                    and dnameother like concat('%', #{dnameotherFuzzy}, '%')
                </if>
            </trim>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM sys_departments
        <include refid="query_condition"/>
        <if test="orderBy!=null">
            order by ${orderBy}
        </if>
        <if test="page!=null">
            limit #{page.start},#{page.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM sys_departments
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="SysDepartment">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO sys_departments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dcode != null">
                dcode,
            </if>
            <if test="dname != null">
                dname,
            </if>
            <if test="parentcode != null">
                parentcode,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="dnameother != null">
                dnameother,
            </if>
            <if test="displayorder != null">
                displayorder,
            </if>
            <if test="createrid != null">
                createrid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dcode!=null">
                #{dcode},
            </if>
            <if test="dname!=null">
                #{dname},
            </if>
            <if test="parentcode!=null">
                #{parentcode},
            </if>
            <if test="longitude!=null">
                #{longitude},
            </if>
            <if test="latitude!=null">
                #{latitude},
            </if>
            <if test="state!=null">
                #{state},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
            <if test="createtime!=null">
                #{createtime},
            </if>
            <if test="dnameother!=null">
                #{dnameother},
            </if>
            <if test="displayorder!=null">
                #{displayorder},
            </if>
            <if test="createrid!=null">
                #{createrid},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="SysDepartment">
        INSERT INTO sys_departments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dcode != null">
                dcode,
            </if>
            <if test="dname != null">
                dname,
            </if>
            <if test="parentcode != null">
                parentcode,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="dnameother != null">
                dnameother,
            </if>
            <if test="displayorder != null">
                displayorder,
            </if>
            <if test="createrid != null">
                createrid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="dcode!=null">
                #{dcode},
            </if>
            <if test="dname!=null">
                #{dname},
            </if>
            <if test="parentcode!=null">
                #{parentcode},
            </if>
            <if test="longitude!=null">
                #{longitude},
            </if>
            <if test="latitude!=null">
                #{latitude},
            </if>
            <if test="state!=null">
                #{state},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
            <if test="createtime!=null">
                #{createtime},
            </if>
            <if test="dnameother!=null">
                #{dnameother},
            </if>
            <if test="displayorder!=null">
                #{displayorder},
            </if>
            <if test="createrid!=null">
                #{createrid},
            </if>
        </trim>
        on DUPLICATE key
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="dcode!=null">
                dcode = VALUES(dcode),
            </if>
            <if test="dname!=null">
                dname = VALUES(dname),
            </if>
            <if test="parentcode!=null">
                parentcode = VALUES(parentcode),
            </if>
            <if test="longitude!=null">
                longitude = VALUES(longitude),
            </if>
            <if test="latitude!=null">
                latitude = VALUES(latitude),
            </if>
            <if test="state!=null">
                state = VALUES(state),
            </if>
            <if test="remark!=null">
                remark = VALUES(remark),
            </if>
            <if test="createtime!=null">
                createtime = VALUES(createtime),
            </if>
            <if test="dnameother!=null">
                dnameother = VALUES(dnameother),
            </if>
            <if test="displayorder!=null">
                displayorder = VALUES(displayorder),
            </if>
            <if test="createrid!=null">
                createrid = VALUES(createrid),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="SysDepartment">
        INSERT INTO
        sys_departments(dcode,dname,parentcode,longitude,latitude,state,remark,createtime,dnameother,displayorder,createrid)values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.dcode},#{item.dname},#{item.parentcode},#{item.longitude},#{item.latitude},#{item.state},#{item.remark},#{item.createtime},#{item.dnameother},#{item.displayorder},#{item.createrid}
            )
        </foreach>
    </insert>

    <!-- 根据Id修改-->
    <update id="update" parameterType="SysDepartment">
        UPDATE sys_departments
        <set>
            <if test="dcode != null">
                dcode = #{dcode},
            </if>
            <if test="dname != null">
                dname = #{dname},
            </if>
            <if test="parentcode != null">
                parentcode = #{parentcode},
            </if>
            <if test="longitude != null">
                longitude = #{longitude},
            </if>
            <if test="latitude != null">
                latitude = #{latitude},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="dnameother != null">
                dnameother = #{dnameother},
            </if>
            <if test="displayorder != null">
                displayorder = #{displayorder},
            </if>
            <if test="createrid != null">
                createrid = #{createrid},
            </if>
        </set>
        where id=#{id}
    </update>

    <!-- 根据Id删除-->
    <delete id="deleteById">
		delete from sys_departments where id=#{id}
	</delete>
    <update id="deleteListByCode" parameterType="java.lang.String">
		UPDATE sys_departments set state = -1 where dcode like concat(#{code}, '%');
	</update>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectById" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from sys_departments where id=#{id}
    </select>

    <!-- 根据code获取对象-->
    <select id="selectByCode" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from sys_departments where dcode=#{code} and state!=-1;
    </select>

    <!-- 根据code获取所有子集-->
    <select id="getSubsetsBranchByCode" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from sys_departments WHERE state=0 AND dcode LIKE concat(#{code}, '%') order by displayOrder
    </select>

    <!-- 根据code获取一级子集-->
    <select id="getSubDepartments" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from sys_departments where dcode LIKE concat(#{code}, '%')
        AND LENGTH(dcode) = LENGTH(#{code})+3 AND state!=-1;
    </select>

    <!-- 判断部门名称是否存在-->
    <select id="isExisted" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM sys_departments where dname =#{name} and id !=#{id} and state !=-1 limit 1
    </select>

</mapper>