<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.system.dao.SysRoleDao">

    <!--实体映射-->
    <resultMap id="base_result_map" type="SysRole">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="state" property="state"/>
        <result column="sortnum" property="sortnum"/>
        <result column="createid" property="createid"/>
        <result column="createtime" property="createtime"/>
        <result column="remark" property="remark"/>
        <result column="isadmin" property="isadmin"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="base_column_list">
		 id,name,state,sortnum,createid,createtime,remark,isadmin
	</sql>

    <sql id="base_condition_filed">
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null and name!=''">
            and name = #{name}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
        <if test="sortnum != null">
            and sortnum = #{sortnum}
        </if>
        <if test="createid != null">
            and createid = #{createid}
        </if>
        <if test="createtime != null">
            and createtime = #{createtime}
        </if>
        <if test="remark != null and remark!=''">
            and remark = #{remark}
        </if>
        <if test="isadmin != null">
            and isadmin = #{isadmin}
        </if>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <trim prefixOverrides="and">
                <include refid="base_condition_filed"/>
                <if test="nameFuzzy!= null  and nameFuzzy!=''">
                    and name like concat('%', #{nameFuzzy}, '%')
                </if>
                <if test="remarkFuzzy!= null  and remarkFuzzy!=''">
                    and remark like concat('%', #{remarkFuzzy}, '%')
                </if>
                <if test="excludeId != null and excludeId !='' ">
                    AND id != #{excludeId}
                </if>
            </trim>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM sys_roles
        <include refid="query_condition"/>
        <if test="nameFuzzy!= null  and nameFuzzy!=''">
            and name like concat('%', #{nameFuzzy}, '%')
        </if>
        <if test="orderBy!=null">
            order by ${orderBy}
        </if>
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM sys_roles
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="SysRole">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO sys_roles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="sortnum != null">
                sortnum,
            </if>
            <if test="createid != null">
                createid,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="isadmin != null">
                isadmin,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name!=null">
                #{name},
            </if>
            <if test="state!=null">
                #{state},
            </if>
            <if test="sortnum!=null">
                #{sortnum},
            </if>
            <if test="createid!=null">
                #{createid},
            </if>
            <if test="createtime!=null">
                #{createtime},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
            <if test="isadmin!=null">
                #{isadmin},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="SysRole">
        INSERT INTO sys_roles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="sortnum != null">
                sortnum,
            </if>
            <if test="createid != null">
                createid,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="isadmin != null">
                isadmin,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="name!=null">
                #{name},
            </if>
            <if test="state!=null">
                #{state},
            </if>
            <if test="sortnum!=null">
                #{sortnum},
            </if>
            <if test="createid!=null">
                #{createid},
            </if>
            <if test="createtime!=null">
                #{createtime},
            </if>
            <if test="remark!=null">
                #{remark},
            </if>
            <if test="isadmin!=null">
                #{isadmin},
            </if>
        </trim>
        on DUPLICATE key
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="name!=null">
                name = VALUES(name),
            </if>
            <if test="state!=null">
                state = VALUES(state),
            </if>
            <if test="sortnum!=null">
                sortnum = VALUES(sortnum),
            </if>
            <if test="createid!=null">
                createid = VALUES(createid),
            </if>
            <if test="createtime!=null">
                createtime = VALUES(createtime),
            </if>
            <if test="remark!=null">
                remark = VALUES(remark),
            </if>
            <if test="isadmin!=null">
                isadmin = VALUES(isadmin),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="SysRole">
        INSERT INTO sys_roles(name,state,sortnum,createid,createtime,remark,isadmin)values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.name},#{item.state},#{item.sortnum},#{item.createid},#{item.createtime},#{item.remark},#{item.isadmin}
            )
        </foreach>
    </insert>

    <!-- 根据Id修改-->
    <update id="update" parameterType="SysRole">
        UPDATE sys_roles
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="sortnum != null">
                sortnum = #{sortnum},
            </if>
            <if test="createid != null">
                createid = #{createid},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="isadmin != null">
                isadmin = #{isadmin},
            </if>
        </set>
        where id=#{id}
    </update>

    <!-- 根据Id删除-->
    <delete id="deleteById">
		delete from sys_roles where id=#{id}
	</delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectById" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from sys_roles where id=#{id}
    </select>

    <!-- 获取用户所有角色-->
    <select id="getListByUserId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from sys_roles
        where id in (SELECT roleid from sys_userroles where userid =#{userid}) and state != -1
    </select>
</mapper>