<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" th:mce_href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.css}"/>
    <!--    <link rel="stylesheet" th:href="@{/plugins/bootstrap-3.3.5/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" th:href="@{/plugins/alertifyjs/css/alertify.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/alertifyjs/css/themes/default.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/modules/laydate/default/laydate.css}" id="layuicss-laydate"
          media="all"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/message.css}" id="layuicss-buildcssmessagecss" media="all"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/nprogress.css}" id="layuicss-buildcssnprogresscss"
          media="all"/>
    <link rel="stylesheet" th:href="@{/plugins/layer/skin/layer.css}" id="layui_layer_skinlayercss" media="all"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/modules/layer/default/layer.css}" id="layuicss-layer"
          media="all"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/zTree/css/zTreeStyle/zTreeStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/animate.css}"/>
</head>
<body>
<!--子页面内容-->
<section data-layout-fragment="renderBody"></section>

<script th:src="@{/js/jquery-1.10.2.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.validate.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.cookie.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.form.js}" type="text/javascript"></script>
<script th:src="@{/js/knockout-3.3.0.js}" type="text/javascript"></script>
<script th:src="@{/js/knockout.mapping.js}" type="text/javascript"></script>
<script th:src="@{/js/ko.common.js}" type="text/javascript"></script>
<script th:src="@{/js/ko.pager.js}" type="text/javascript"></script>
<script th:src="@{/plugins/alertifyjs/alertify.js}" type="text/javascript"></script>
<script th:src="@{/plugins/layui/layui.js}" type="text/javascript"></script>
<script th:src="@{/plugins/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/js/dialog.js}" type="text/javascript"></script>
<script th:src="@{/js/messages_zh.js}" type="text/javascript"></script>
<script th:src="@{/js/moment.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.md5.js}" type="text/javascript"></script>


<script th:src="@{/js/form-validate.js}" type="text/javascript"></script>
<script th:src="@{/js/taskoperatejs.js}" type="text/javascript"></script>
<script th:src="@{/js/common.js}" type="text/javascript"></script>


<script>
    /*页面初始化控件*/
    layui.use(['form', 'laydate'], function () {
        layui.laydate.render({
            elem: '.date-range'//日期区间 class="dateranger"
            , type: 'datetime'
            , range: true
            , done: function (value) {
                if (value != null && value.trim() != '') {
                    $(this.elem).removeClass('error');
                    $(this.elem).next('.error').hide();
                }
            }
        });

        layui.laydate.render({
            elem: '.date-single'//单个日期 class="datesingle",包含时间
            , type: 'datetime'
            , done: function (value) {
                if (value != null && value.trim() != '') {
                    $(this.elem).removeClass('error');
                    $(this.elem).next('.error').hide();
                }
            }
        });
    });

    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

</script>

<!--子页面script代码-->
<section data-layout-fragment="renderScripts"></section>
</body>
</html>

