<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" data-layout-decorator="/shared/layout">

<body>
<div class="form-body" data-layout-fragment="renderBody">
    <form id="form" th:method="post" class="layui-form layui-form-pane" th:action="@{/file/submitDir}">
        <input type="hidden" name="_f_token" th:value="${_f_token}" />
        <input type="hidden" name="path" th:value="${path}">
        <div class="layui-form-item">
            <label class="layui-form-label">文件夹名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入文件夹名称" th:value="${name}" th:maxlength="50"
                       autocomplete="off" class="layui-input required"/>
            </div>
        </div>
        <div class="layui-form-item form-footer">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formedit" id="btnSubmit">保存</button>
                <span class="layui-btn layui-btn-primary pull-right margin-left-15" onclick="dialog.close();">关闭</span>
            </div>
        </div>

    </form>
</div>
<script th:inline="javascript" data-layout-fragment="renderScripts">
    //表单验证提交
    $('#form').initForm();
</script>
</body>
</html>