<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" data-layout-decorator="/shared/layout">

<body>
<div class="padding" data-layout-fragment="renderBody">
    <div class="layui-upload">
        <input type="hidden" id="path" th:value="${path}">
        <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>
        <div class="layui-upload-list">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>大小</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="fileList"></tbody>
            </table>
        </div>
        <div class="layui-form-item form-footer">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="testListAction" disabled="disabled">开始上传</button>
                <button type="button" class="layui-btn layui-btn-primary pull-right margin-left-15"
                        onclick="dialog.closeAll(true)">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript" data-layout-fragment="renderScripts">
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;
        //多文件列表示例
        var fileListView = $('#fileList')
            , uploadListIns = upload.render({
            elem: '#testList'
            , url: '/file/upload'
            , size: [[${MAX_FILE_SIZE}]]
            , accept: 'file'
            , multiple: true
            , auto: false
            , data: {
                "path": $('#path').val()
            }
            , bindAction: '#testListAction'
            , choose: function (obj) {
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function (index, file, result) {
                    var tr = $(['<tr id="upload-' + index + '">'
                        , '<td>' + file.name + '</td>'
                        , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                        , '<td>等待上传</td>'
                        , '<td>'
                        , '<button class="layui-btn layui-btn-mini file-reload layui-hide">重传</button>'
                        , '<button class="layui-btn layui-btn-mini layui-btn-danger file-delete">删除</button>'
                        , '</td>'
                        , '</tr>'].join(''));

                    //单个重传
                    tr.find('.file-reload').on('click', function () {
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.file-delete').on('click', function () {
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    fileListView.append(tr);
                });
                $('#testListAction').removeAttrs("disabled");
            }
            , done: function (res, index, upload) {
                var tr = fileListView.find('tr#upload-' + index)
                    , tds = tr.children();
                tds.eq(2).html('<span style="color:'+(res.state?" #5FB878":" #FF5722")+';">' + res.message + '</span>');
                if (res.state) { //上传成功
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                } else {
                    tds.eq(3).find('.file-reload').removeClass('layui-hide'); //显示重传
                }
//                this.error(index, upload);
            }
            , error: function (index, upload) {
                var tr = fileListView.find('tr#upload-' + index)
                    , tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.file-reload').removeClass('layui-hide'); //显示重传
            }
        });
    });
</script>
</body>
</html>