<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" data-layout-decorator="/shared/layout">

<div class="padding" data-layout-fragment="renderBody">
    <blockquote class="layui-elem-quote">
        <form id="searchForm" class="layui-form">
            <div class="layui-inline">
                <span class="layui-btn layui-btn-normal" onclick="viewModel.add()"><i class="fa fa-plus"></i> 新增</span>
            </div>
        </form>
    </blockquote>
    <div class="tree-list">
        <div class="layui-row row header">
            <div class="layui-col-xs4">名称</div>
            <div class="layui-col-xs4">备注</div>
            <div class="layui-col-xs2">排序</div>
            <div class="layui-col-xs2 text-center">操作</div>
        </div>
        <div data-bind="template: {name: 'node-template', foreach: items}"></div>
    </div>
    <script type="text/html" id="node-template">
        <div class="layui-row row" data-bind="attr: {id: 'node_' + code,'data-code':value}">
            <div class="layui-col-xs4">
                <div class="indent">
                    <a data-bind="visible: childNodes.length > 0,click: $root.toggleChildren">
                        <i class="fa fa-fw fa-angle-down"></i>
                    </a>
                    <span style="color: #54b4eb"><i data-bind="attr: { 'class' : 'fa fa-fw fa-' + img }"></i></span>
                    <span data-bind="html:text"></span>
                </div>
            </div>
            <div class="layui-col-xs4" data-bind="text:extra.remark==''?'无':extra.remark"></div>
            <div class="layui-col-xs2" data-bind="text:extra.displayOrder"></div>
            <div class="layui-col-xs2 text-center">
                <a data-bind="click: $root.add" title="新增" data-toggle="tooltip" data-placement="top"><i
                        class="fa fa-plus"></i></a>
                <a data-bind="click: $root.edit" title="编辑" data-toggle="tooltip" data-placement="top"><i
                        class="fa fa-edit"></i> </a>
                <a data-bind="click: $root.delete" title="删除" data-toggle="tooltip" data-placement="top"><i
                        class="fa fa-trash-o"></i></a>
                <!-- <a href="javascript:;">
                     <i data-bind="click: $root.stop, attr: { 'data-state':extra.state,'title':extra.State==0?'禁用':'启用','class':extra.state==0?'fa fa-ban':'fa fa-ban red' }"
                        data-toggle="tooltip" data-placement="top"></i>
                 </a>-->
            </div>
        </div>
        <div class="child"
             data-bind="attr: {id: 'children_' + code }, template: {name: 'node-template', foreach: childNodes} ">
        </div>
    </script>
</div>

<script th:inline="javascript" data-layout-fragment="renderScripts">
    layui.config({
        base: '/dist/js/'
    });

    function ViewModel() {
        var self = this;
        self.items = ko.observableArray([]);
        //self.selectedItem = ko.observable({ text: '' });
        self.toggleChildren = function (item) {
            var subEle = $('#children_' + item.code);
            var nodeEle = $('#node_' + item.code);
            var expand = subEle.is(':visible');
            if (expand) {
                nodeEle.find('.fa-angle-down').removeClass('fa-angle-down').addClass('fa-angle-right');
            } else {
                nodeEle.find('.fa-angle-right').removeClass('fa-angle-right').addClass('fa-angle-down');
            }
            subEle.slideToggle();
        };
        //新增
        self.add = function (item) {
            var dCode = "";
            var dName = "";
            if (item != undefined) {
                dCode = item.code;
                dName = item.text;
            }
            dialog.iframe('/dept/edit?parentCode=' + dCode + '&deptname=' + encodeURIComponent(encodeURIComponent(dName)), {
                title: "新增部门",
                size: [700, 450]
            }, function (result) {
                if (result) {
                    viewModel.reload();
                }
            });
        };
        //编辑
        self.edit = function (item) {
            dialog.iframe('/dept/edit?id=' + item.id, {
                title: "编辑部门",
                size: [700, 450]
            }, function (result) {
                if (result) {
                    viewModel.reload();
                }
            });
        };
        //删除
        self.delete = function (item, obj) {
            dialog.confirm('确认删除\'' + item.text + '\'部门吗？', function () {
                $.getJSON('/dept/delete?id=' + item.id, function (data) {
                    dialog.closeAll();
                    if (data.state) {
                        dialog.success(data.message);
                        viewModel.reload();
                    } else {
                        dialog.error(data.message);
                    }
                });
            });
        };

        self.reload = function () {
            $.getJSON("/dept/treeJson", function (data) {
                viewModel.items(data);
            });
        }
    }

    //绑定数据
    var viewModel = new ViewModel();
    $.getJSON("/dept/treeJson", function (data) {
        viewModel.items(data);
    });
    ko.applyBindings(viewModel);
</script>

</div>
</html>